.Node {
	border: solid black 2px;
	width: 20px;
	height: 20px;
}

.node-visited {
	background-color:aqua;
}

.node-path {
	background-color: yellow
}

.start {
	background-color: green;
}

.end {
	background-color: red;
}

.wall {
	background-color: black;
}