.Node {
	border: solid #0A090C 2px;
	width: 20px;
	height: 20px;
}

.node-visited {
	background-color: #336699;
}

.node-path {
	background-color: #ABC9FF
}

.start {
	background-color: #3CCF4E;
}

.end {
	background-color: #A53F2B;
}

.wall {
	background-color: #0A090C;
}