@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	color: #0A090C;
	font-family: 'Roboto', sans-serif;
}

body {
	/* width: 100vw; */
	/* height: 100vh; */
	background-color: #F0EDEE;
}

#root {
	width: 100%;
	height: 100%;
}